Fiskeridirektoratet/Akvakultur_postgis2gml/Akvakultur.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://skjema.geonorge.no/legg_inn_riktig_url" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/legg_inn_riktig_url" version="1.0">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AkvaArtType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_ART</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:AkvaArtEnumerationType app:AkvaArtOtherType"/>
  </simpleType>
  <simpleType name="AkvaArtEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_ART</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
      <enumeration value="7"/>
      <enumeration value="8"/>
      <enumeration value="9"/>
      <enumeration value="10"/>
      <enumeration value="11"/>
      <enumeration value="12"/>
      <enumeration value="13"/>
      <enumeration value="14"/>
      <enumeration value="15"/>
      <enumeration value="16"/>
      <enumeration value="17"/>
      <enumeration value="18"/>
      <enumeration value="19"/>
      <enumeration value="20"/>
      <enumeration value="21"/>
      <enumeration value="22"/>
      <enumeration value="23"/>
      <enumeration value="24"/>
      <enumeration value="25"/>
      <enumeration value="26"/>
      <enumeration value="27"/>
      <enumeration value="28"/>
      <enumeration value="29"/>
      <enumeration value="30"/>
      <enumeration value="31"/>
      <enumeration value="32"/>
      <enumeration value="33"/>
      <enumeration value="34"/>
      <enumeration value="35"/>
      <enumeration value="36"/>
      <enumeration value="37"/>
      <enumeration value="38"/>
      <enumeration value="39"/>
      <enumeration value="40"/>
      <enumeration value="41"/>
      <enumeration value="42"/>
      <enumeration value="43"/>
      <enumeration value="44"/>
      <enumeration value="45"/>
      <enumeration value="46"/>
      <enumeration value="47"/>
      <enumeration value="48"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaArtOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaEnhetType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_ENHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:AkvaEnhetEnumerationType app:AkvaEnhetOtherType"/>
  </simpleType>
  <simpleType name="AkvaEnhetEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_ENHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="1"/>
      <enumeration value="2"/>
      <enumeration value="3"/>
      <enumeration value="4"/>
      <enumeration value="5"/>
      <enumeration value="6"/>
      <enumeration value="7">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KILO</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="8">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVADRATMETER</taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AkvaEnhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaTillatelsesformålType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVAKONSESJONSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:AkvaTillatelsesformålEnumerationType app:AkvaTillatelsesformålOtherType"/>
  </simpleType>
  <simpleType name="AkvaTillatelsesformålEnumerationType">
    <annotation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVAKONSESJONSFORMÅL</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Kommersiell"/>
      <enumeration value="Forskning"/>
      <enumeration value="Undervisning"/>
      <enumeration value="Slakting"/>
      <enumeration value="Kultivering"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaTillatelsesformålOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="AkvaTillatelsesinformasjon" substitutionGroup="gml:AbstractObject" type="app:AkvaTillatelsesinformasjonType">
    <annotation>
      <documentation>info om tillatelse tilknyttet oppdrettsanlegg


-- Definition - - 
information about licence in connection with ??(aquaculture facility / fish farm)</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_KONS_INFO</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="AkvaTillatelsesinformasjonType">
    <sequence>
      <element name="fiskebruksnummerFylke" type="string">
        <annotation>
          <documentation>1-2 bokstavers fylkesangivelse

-- Definition -- 
1-2 letter county code</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">FBNR_FYLK</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="akvaTillatelsesnummer" type="integer">
        <annotation>
          <documentation>1-2 bokstavers fylkesangivelse, 1-2 bokstavers kommuneangivelse (akvakommune) og H4 

Eksempel:
H AV 0001 (H=Hordaland, AV=Austevoll og påfølgende H4)

-- Definition -- 
1-2 letter county code, 1-2 letter municipality code (aquaMunicipality) plus I4 (four-digit integer)    For example:   H AV 0001 (H=Hordaland, AV=Austevoll plus subsequent I4)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_NR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="tillatelsesstatus" type="app:AkvaTillatelsesstatusType">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_STATUS</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="tillatelsesformål" type="app:AkvaTillatelsesformålType">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVAKONSESJONSFORMÅL</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="tillatelsestype" type="app:AkvaTillatelsestypeType">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_TYPE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="lokalitetsnummer" type="integer">
        <annotation>
          <documentation>gitt lokalitetsnummer

-- Definition -- 
given location number</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOK_NR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="lokalitetsnavn" type="string">
        <annotation>
          <documentation>gitt lokalitetsnavn

-- Definition -- 
given location name</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOK_NAVN</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AkvaTillatelsesinformasjonPropertyType">
    <sequence>
      <element ref="app:AkvaTillatelsesinformasjon"/>
    </sequence>
  </complexType>
  <simpleType name="AkvaTillatelsesstatusType">
    <annotation>
      <documentation>tillatelsesstatus for oppdrettsanlegg


-- Definition - - 
licence status for aquaculture facility</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_STATUS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:AkvaTillatelsesstatusEnumerationType app:AkvaTillatelsesstatusOtherType"/>
  </simpleType>
  <simpleType name="AkvaTillatelsesstatusEnumerationType">
    <annotation>
      <documentation>tillatelsesstatus for oppdrettsanlegg


-- Definition - - 
licence status for aquaculture facility</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_STATUS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="AKTIV"/>
      <enumeration value="KLARERT"/>
      <enumeration value="TT"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaTillatelsesstatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaTillatelsestypeType">
    <annotation>
      <documentation>tillatelsestype  for oppdrettsanlegg


-- Definition - - 
licence type for aquaculture facility</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:AkvaTillatelsestypeEnumerationType app:AkvaTillatelsestypeOtherType"/>
  </simpleType>
  <simpleType name="AkvaTillatelsestypeEnumerationType">
    <annotation>
      <documentation>tillatelsestype  for oppdrettsanlegg


-- Definition - - 
licence type for aquaculture facility</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_TYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="AKON"/>
      <enumeration value="ALTFA"/>
      <enumeration value="ALTFA"/>
      <enumeration value="ANDFO"/>
      <enumeration value="HAVB">
        <annotation>
          <documentation>bløtdyr og pigghuder

-- Definition -- 
Site/area where permission has been granted to put out and subsequently re-capture crustaceans, molluscs and echinoderms</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KLEK">
        <annotation>
          <documentation>lokalitet der det er gitt tillatelse for klekking av fisk

-- Definition -- 
Site where permission has been granted for hatching out fish.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MATF">
        <annotation>
          <documentation>lokalitet der det er gitt tillatelse til å produsere matfisk av laks, ørret og regnbueørret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OP"/>
      <enumeration value="REKR"/>
      <enumeration value="SETT">
        <annotation>
          <documentation>lokalitet der det er gitt tillatelse til å produsere settefisk av laks, ørret, regnbueørret og/eller røye

-- Definition -- 
Site where permission has been granted to operate a salmon, trout, rainbow trout and/or char hatchery</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SKAL">
        <annotation>
          <documentation>lokalitet der det er gitt tillatelse til produksjon av skalldyr

-- Definition -- 
Site where permission has been granted for production of shellfish</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SLAK"/>
      <enumeration value="STAMD"/>
      <enumeration value="STAM">
        <annotation>
          <documentation>lokalitet der det er gitt tillatelse til å produsere/oppbevare stamfisk av laks, ørret og regnbueørret

-- Definition -- 
Site where permission has been granted to produce/store broodstock of salmon, trout and rainbow trout</documentation>
        </annotation>
      </enumeration>
      <enumeration value="strømhastighet">
        <annotation>
          <documentation>angivelse av hastighet i m/sek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="YNGE">
        <annotation>
          <documentation>lokalitet der det er gitt tillatelse til produksjon av yngel

-- Definition -- 
Site where permission has been granted for production of fry</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OKO"/>
    </restriction>
  </simpleType>
  <simpleType name="AkvaTillatelsestypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Akvakultur" substitutionGroup="app:Fellesegenskaper" type="app:AkvakulturType">
    <annotation>
      <documentation>anlegg eller område for oppdrett av fisk, skalldyr eller alger


-- Definition -- 
facility or area for farming fish and shellfish</documentation>
    </annotation>
  </element>
  <complexType name="AkvakulturType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="akvaArt" type="app:AkvaArtType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_ART</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="akvaEnhet" type="app:AkvaEnhetType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_ENHET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="akvaPlassering" type="gml:CodeType"/>
          <element minOccurs="0" name="firmaeier" type="app:FirmaeierPropertyType">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">FIRMA_EIER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning

-- Definition -- 
area over which an object extends</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">Flate</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på

-- Definition -- 
location where the object exists</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">Punkt</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="tillatelsesinformasjon" type="app:AkvaTillatelsesinformasjonPropertyType">
            <annotation>
              <documentation>info om konsesjon tilknyttet oppdrettsanlegg

-- Definition -- 
information about licence in connection with ??(aquaculture facility / fish farm)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVA_KONS_INFO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="akvaVannmiljø" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Akvakulturgrense">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">AKVAKULTURGRENSE</taggedValue>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="app:Akvakulturgrense"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AkvakulturPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Akvakultur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Akvakulturgrense" substitutionGroup="gml:AbstractFeature" type="app:AkvakulturgrenseType">
    <annotation>
      <documentation>avgrensning av anlegg eller område for oppdrett av fisk og skalldyr


-- Definition -- 
delimitation of facility or area for farming fish and shellfish</documentation>
    </annotation>
  </element>
  <complexType name="AkvakulturgrenseType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener

-- Definition -- 
course follwing the transition between different real world phenomena</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AkvakulturgrensePropertyType">
    <sequence minOccurs="0">
      <element ref="app:Akvakulturgrense"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature" type="app:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekt som bærer en rekke egenskaper som er fagområde-uavhengige og kan benyttes for alle objekttyper

Merknad:
Spesielt i produktspesifikasjonsarbeid vil en velge egenskaper og av grensningslinjer fra denne klassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="app:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>dato for siste endring på objektetdataene 

Merknad: 
Oppdateringsdato kan være forskjellig fra Datafangsdato ved at data som er registrert kan bufres en kortere eller lengre periode før disse legges inn i datasystemet (databasen).

-Definition-
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Firmaeier" substitutionGroup="gml:AbstractObject" type="app:FirmaeierType">
    <annotation>
      <documentation>generell bolk eieropplysninger


-- Definition - - 
general set of owner information</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">FIRMA_EIER</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FirmaeierType">
    <sequence>
      <element name="firmanavn" type="string">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">FIRMA</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="bedriftseier" type="string">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">FISKE_BEDR_EIER</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="adresse" type="string">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ADRESSE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="postnummer" type="string">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">POSTNR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="postadresse" type="string">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">POSTADRESSE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="telefonnummer" type="integer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">TELEFONNR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="telefaxnummer" type="integer">
        <annotation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">TELEFAXNR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="kontaktperson" type="string">
        <annotation>
          <documentation>Navn på kontaktperson

-- Definition -- 
Name of contact</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KONTAKTPERSON</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FirmaeierPropertyType">
    <sequence>
      <element ref="app:Firmaeier"/>
    </sequence>
  </complexType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonType">
    <annotation>
      <documentation>Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

NOTE: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

NOTE 1 : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="app:Identifikasjon"/>
    </sequence>
  </complexType>
</schema>
