UniversellUtforming/Tilgjengelighet_postgis2gml/UUFriluft45.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://data.geonorge.no/so/universellutforming/friluft" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://data.geonorge.no/so/universellutforming/friluft" version="4.5.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="BelysningType">
    <annotation>
      <documentation>Kodeliste for belysning</documentation>
    </annotation>
    <union memberTypes="app:BelysningEnumerationType app:BelysningOtherType"/>
  </simpleType>
  <simpleType name="BelysningEnumerationType">
    <annotation>
      <documentation>Kodeliste for belysning</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Belysning"/>
      <enumeration value="Delvis belyst"/>
      <enumeration value="Ikke belysning"/>
    </restriction>
  </simpleType>
  <simpleType name="BelysningOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggtypeType">
    <union memberTypes="app:ByggtypeEnumerationType app:ByggtypeOtherType"/>
  </simpleType>
  <simpleType name="ByggtypeEnumerationType">
    <restriction base="string">
      <enumeration value="Toalett"/>
      <enumeration value="Toalett/Omkledning"/>
      <enumeration value="Omkledning"/>
    </restriction>
  </simpleType>
  <simpleType name="ByggtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkeType">
    <union memberTypes="app:DekkeEnumerationType app:DekkeOtherType"/>
  </simpleType>
  <simpleType name="DekkeEnumerationType">
    <restriction base="string">
      <enumeration value="Fast">
        <annotation>
          <documentation>Fast underlag er ikke kun asfalt/ betong, men kan også være tettpaket grus eller treplanker, dvs. alle underlag hvor dekk ikke synke inn.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Løst"/>
      <enumeration value="Tre"/>
    </restriction>
  </simpleType>
  <simpleType name="DekkeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DekketilstandType">
    <union memberTypes="app:DekketilstandEnumerationType app:DekketilstandOtherType"/>
  </simpleType>
  <simpleType name="DekketilstandEnumerationType">
    <restriction base="string">
      <enumeration value="Jevnt">
        <annotation>
          <documentation>For at en turvei klassifiseres som jenvt skal den ikke har sprekker med &gt;1cm vidde og &gt;2,5cm høydedifferens.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ujevnt">
        <annotation>
          <documentation>Dersom en turvei har sprekker med &gt;1cm vidde og &gt;2,5cm høydedifferens klassifiseres den som ujevnt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DekketilstandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DørtypeType">
    <union memberTypes="app:DørtypeEnumerationType app:DørtypeOtherType"/>
  </simpleType>
  <simpleType name="DørtypeEnumerationType">
    <restriction base="string">
      <enumeration value="Slagdør inn"/>
      <enumeration value="Slagdør ut">
        <annotation>
          <documentation>Dørå skal ikke åpne ikke mot manøverknappen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Skyvedør"/>
      <enumeration value="Karuselldør">
        <annotation>
          <documentation>Karusselldør er ikke tilgjengelig for rullestolbruker og synshemmede. Ofte er en sideengang på plass som må da kartlegges.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DørtypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="DøråpnerType">
    <union memberTypes="app:DøråpnerEnumerationType app:DøråpnerOtherType"/>
  </simpleType>
  <simpleType name="DøråpnerEnumerationType">
    <restriction base="string">
      <enumeration value="Manuell"/>
      <enumeration value="Halvautomatisk"/>
      <enumeration value="Automatisk"/>
    </restriction>
  </simpleType>
  <simpleType name="DøråpnerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="EierforholdType">
    <annotation>
      <documentation>eierforhold knyttet til et objekt


-- Definition - - 
ownership in connection with an object</documentation>
    </annotation>
    <union memberTypes="app:EierforholdEnumerationType app:EierforholdOtherType"/>
  </simpleType>
  <simpleType name="EierforholdEnumerationType">
    <annotation>
      <documentation>eierforhold knyttet til et objekt


-- Definition - - 
ownership in connection with an object</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Offentlig"/>
      <enumeration value="Privat"/>
      <enumeration value="Annet"/>
      <enumeration value="Ikke valgt"/>
    </restriction>
  </simpleType>
  <simpleType name="EierforholdOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FrihøydeType">
    <union memberTypes="app:FrihøydeEnumerationType app:FrihøydeOtherType"/>
  </simpleType>
  <simpleType name="FrihøydeEnumerationType">
    <restriction base="string">
      <enumeration value="&gt; 225 cm"/>
      <enumeration value="&lt; 225 cm"/>
    </restriction>
  </simpleType>
  <simpleType name="FrihøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HåndlistplasseringType">
    <union memberTypes="app:HåndlistplasseringEnumerationType app:HåndlistplasseringOtherType"/>
  </simpleType>
  <simpleType name="HåndlistplasseringEnumerationType">
    <restriction base="string">
      <enumeration value="Høyre side">
        <annotation>
          <documentation>Plassering av håndlist sett mot inngang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Venstre side">
        <annotation>
          <documentation>Plassering av håndlist sett mot inngang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Begge sider"/>
      <enumeration value="Mangler"/>
    </restriction>
  </simpleType>
  <simpleType name="HåndlistplasseringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="JaNeiType">
    <union memberTypes="app:JaNeiEnumerationType app:JaNeiOtherType"/>
  </simpleType>
  <simpleType name="JaNeiEnumerationType">
    <restriction base="string">
      <enumeration value="Ja"/>
      <enumeration value="Nei"/>
    </restriction>
  </simpleType>
  <simpleType name="JaNeiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KommunenummerType">
    <annotation>
      <documentation>nummerering av kommuner i henhold til SSB sin offisielle liste

Merknad: Det presiseres at kommune alltid skal ha 4 siffer, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som også benytter 4 siffer.


-- Definition - - 
numbering of municipalities in accordance with Statistics Norway's official list Note: It must be emphasised that municipality number always consists of 4 digits, i.e. sometimes with leading zero. Municipality is used for establishing relations to a number of other registers which also use 4 digits.</documentation>
    </annotation>
    <union memberTypes="app:KommunenummerEnumerationType app:KommunenummerOtherType"/>
  </simpleType>
  <simpleType name="KommunenummerEnumerationType">
    <annotation>
      <documentation>nummerering av kommuner i henhold til SSB sin offisielle liste

Merknad: Det presiseres at kommune alltid skal ha 4 siffer, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som også benytter 4 siffer.


-- Definition - - 
numbering of municipalities in accordance with Statistics Norway's official list Note: It must be emphasised that municipality number always consists of 4 digits, i.e. sometimes with leading zero. Municipality is used for establishing relations to a number of other registers which also use 4 digits.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1201"/>
      <enumeration value="1804"/>
      <enumeration value="0602"/>
      <enumeration value="1101"/>
      <enumeration value="1401"/>
      <enumeration value="0101"/>
      <enumeration value="1901"/>
      <enumeration value="0701"/>
      <enumeration value="2211"/>
      <enumeration value="0402"/>
      <enumeration value="1001"/>
      <enumeration value="0501"/>
      <enumeration value="1502"/>
      <enumeration value="0301"/>
      <enumeration value="0805"/>
      <enumeration value="0901"/>
      <enumeration value="2311"/>
      <enumeration value="2111"/>
      <enumeration value="1702"/>
      <enumeration value="1601"/>
      <enumeration value="2002"/>
      <enumeration value="0211"/>
      <enumeration value="2121"/>
      <enumeration value="1211"/>
      <enumeration value="0502"/>
      <enumeration value="0904"/>
      <enumeration value="1411"/>
      <enumeration value="0403"/>
      <enumeration value="1612"/>
      <enumeration value="0702"/>
      <enumeration value="0604"/>
      <enumeration value="1505"/>
      <enumeration value="1002"/>
      <enumeration value="0104"/>
      <enumeration value="1703"/>
      <enumeration value="1805"/>
      <enumeration value="1102"/>
      <enumeration value="0213"/>
      <enumeration value="0806"/>
      <enumeration value="2321"/>
      <enumeration value="1902"/>
      <enumeration value="2003"/>
      <enumeration value="0906"/>
      <enumeration value="1811"/>
      <enumeration value="0511"/>
      <enumeration value="1003"/>
      <enumeration value="2004"/>
      <enumeration value="2131"/>
      <enumeration value="1911"/>
      <enumeration value="1711"/>
      <enumeration value="0807"/>
      <enumeration value="0605"/>
      <enumeration value="0412"/>
      <enumeration value="0105"/>
      <enumeration value="1613"/>
      <enumeration value="1412"/>
      <enumeration value="1103"/>
      <enumeration value="1216"/>
      <enumeration value="0704"/>
      <enumeration value="1504"/>
      <enumeration value="0214"/>
      <enumeration value="2011"/>
      <enumeration value="1219"/>
      <enumeration value="1004"/>
      <enumeration value="0106"/>
      <enumeration value="0215"/>
      <enumeration value="0911"/>
      <enumeration value="1106"/>
      <enumeration value="1617"/>
      <enumeration value="0612"/>
      <enumeration value="1413"/>
      <enumeration value="0512"/>
      <enumeration value="0415"/>
      <enumeration value="0706"/>
      <enumeration value="0811"/>
      <enumeration value="1913"/>
      <enumeration value="1714"/>
      <enumeration value="1812"/>
      <enumeration value="1511"/>
      <enumeration value="2012"/>
      <enumeration value="0814"/>
      <enumeration value="1915"/>
      <enumeration value="1813"/>
      <enumeration value="0615"/>
      <enumeration value="1717"/>
      <enumeration value="1620"/>
      <enumeration value="0111"/>
      <enumeration value="1416"/>
      <enumeration value="0709"/>
      <enumeration value="0216"/>
      <enumeration value="1514"/>
      <enumeration value="0513"/>
      <enumeration value="1111"/>
      <enumeration value="0417"/>
      <enumeration value="1221"/>
      <enumeration value="0912"/>
      <enumeration value="1014"/>
      <enumeration value="0118"/>
      <enumeration value="1222"/>
      <enumeration value="1515">
        <annotation>
          <documentation>Herøy i  Møre og Romsdal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1917"/>
      <enumeration value="0815"/>
      <enumeration value="1718"/>
      <enumeration value="0514"/>
      <enumeration value="2014"/>
      <enumeration value="1112"/>
      <enumeration value="0616"/>
      <enumeration value="0418"/>
      <enumeration value="0217"/>
      <enumeration value="1017"/>
      <enumeration value="0711"/>
      <enumeration value="0914"/>
      <enumeration value="1815"/>
      <enumeration value="1417"/>
      <enumeration value="1621"/>
      <enumeration value="1622"/>
      <enumeration value="1418"/>
      <enumeration value="1114"/>
      <enumeration value="0219"/>
      <enumeration value="0817"/>
      <enumeration value="0919"/>
      <enumeration value="0617"/>
      <enumeration value="1919"/>
      <enumeration value="2015"/>
      <enumeration value="1719"/>
      <enumeration value="0119"/>
      <enumeration value="0713"/>
      <enumeration value="1018"/>
      <enumeration value="0419"/>
      <enumeration value="1223"/>
      <enumeration value="1516"/>
      <enumeration value="1816"/>
      <enumeration value="0515"/>
      <enumeration value="0220"/>
      <enumeration value="0420"/>
      <enumeration value="1517"/>
      <enumeration value="0618"/>
      <enumeration value="1818"/>
      <enumeration value="0714"/>
      <enumeration value="1119"/>
      <enumeration value="2017"/>
      <enumeration value="1224"/>
      <enumeration value="1920"/>
      <enumeration value="1419"/>
      <enumeration value="0926"/>
      <enumeration value="1021"/>
      <enumeration value="0819"/>
      <enumeration value="0516"/>
      <enumeration value="1624"/>
      <enumeration value="0121"/>
      <enumeration value="1721"/>
      <enumeration value="1820"/>
      <enumeration value="0221"/>
      <enumeration value="1922"/>
      <enumeration value="0928"/>
      <enumeration value="1627"/>
      <enumeration value="0821"/>
      <enumeration value="0423"/>
      <enumeration value="1227"/>
      <enumeration value="1120"/>
      <enumeration value="1723"/>
      <enumeration value="2018"/>
      <enumeration value="0716"/>
      <enumeration value="0517"/>
      <enumeration value="1420"/>
      <enumeration value="0122"/>
      <enumeration value="1519"/>
      <enumeration value="0619"/>
      <enumeration value="1026"/>
      <enumeration value="0719"/>
      <enumeration value="1027"/>
      <enumeration value="1421"/>
      <enumeration value="0620"/>
      <enumeration value="1822"/>
      <enumeration value="2019"/>
      <enumeration value="1228"/>
      <enumeration value="1923"/>
      <enumeration value="0822"/>
      <enumeration value="0123"/>
      <enumeration value="0519"/>
      <enumeration value="0226"/>
      <enumeration value="1121"/>
      <enumeration value="1724"/>
      <enumeration value="1520"/>
      <enumeration value="1630"/>
      <enumeration value="0929"/>
      <enumeration value="0425"/>
      <enumeration value="0124"/>
      <enumeration value="0227"/>
      <enumeration value="1122"/>
      <enumeration value="0935"/>
      <enumeration value="1029"/>
      <enumeration value="1422"/>
      <enumeration value="1924"/>
      <enumeration value="1725"/>
      <enumeration value="2020"/>
      <enumeration value="0520"/>
      <enumeration value="1632"/>
      <enumeration value="0621"/>
      <enumeration value="0720"/>
      <enumeration value="0826"/>
      <enumeration value="1231"/>
      <enumeration value="1824"/>
      <enumeration value="0426">
        <annotation>
          <documentation>Våler i Hedmark</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1523"/>
      <enumeration value="1232"/>
      <enumeration value="0125"/>
      <enumeration value="0427"/>
      <enumeration value="0937"/>
      <enumeration value="1825"/>
      <enumeration value="0827"/>
      <enumeration value="1729"/>
      <enumeration value="2021"/>
      <enumeration value="0622"/>
      <enumeration value="1032"/>
      <enumeration value="1524"/>
      <enumeration value="0722"/>
      <enumeration value="1633"/>
      <enumeration value="0228"/>
      <enumeration value="1124"/>
      <enumeration value="1925"/>
      <enumeration value="0521"/>
      <enumeration value="1424"/>
      <enumeration value="0938"/>
      <enumeration value="1926"/>
      <enumeration value="0229"/>
      <enumeration value="0522"/>
      <enumeration value="1826"/>
      <enumeration value="1034"/>
      <enumeration value="2022"/>
      <enumeration value="1426"/>
      <enumeration value="0623"/>
      <enumeration value="1634"/>
      <enumeration value="1127"/>
      <enumeration value="0828"/>
      <enumeration value="0127"/>
      <enumeration value="1736"/>
      <enumeration value="1525"/>
      <enumeration value="0723"/>
      <enumeration value="0428"/>
      <enumeration value="1233"/>
      <enumeration value="1428"/>
      <enumeration value="1827"/>
      <enumeration value="1129"/>
      <enumeration value="2023"/>
      <enumeration value="1234"/>
      <enumeration value="1037"/>
      <enumeration value="0829"/>
      <enumeration value="0728"/>
      <enumeration value="1738"/>
      <enumeration value="0230"/>
      <enumeration value="0128"/>
      <enumeration value="1635"/>
      <enumeration value="1526"/>
      <enumeration value="1927"/>
      <enumeration value="0940"/>
      <enumeration value="0528"/>
      <enumeration value="0624"/>
      <enumeration value="0429"/>
      <enumeration value="2024"/>
      <enumeration value="0941"/>
      <enumeration value="1429"/>
      <enumeration value="1636"/>
      <enumeration value="0625"/>
      <enumeration value="1828"/>
      <enumeration value="0830"/>
      <enumeration value="1739"/>
      <enumeration value="0135"/>
      <enumeration value="1046"/>
      <enumeration value="0231"/>
      <enumeration value="0430"/>
      <enumeration value="1130"/>
      <enumeration value="1528"/>
      <enumeration value="1928"/>
      <enumeration value="0529"/>
      <enumeration value="1235"/>
      <enumeration value="1929">
        <annotation>
          <documentation>Berg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2025"/>
      <enumeration value="0831"/>
      <enumeration value="1430"/>
      <enumeration value="1832"/>
      <enumeration value="1133"/>
      <enumeration value="0532"/>
      <enumeration value="1238"/>
      <enumeration value="0626"/>
      <enumeration value="1740"/>
      <enumeration value="0233"/>
      <enumeration value="1638"/>
      <enumeration value="0432"/>
      <enumeration value="0136"/>
      <enumeration value="1529"/>
      <enumeration value="0434"/>
      <enumeration value="1241"/>
      <enumeration value="0234"/>
      <enumeration value="1742"/>
      <enumeration value="1431"/>
      <enumeration value="1931"/>
      <enumeration value="0533"/>
      <enumeration value="1833"/>
      <enumeration value="1640"/>
      <enumeration value="0627"/>
      <enumeration value="1531"/>
      <enumeration value="1134"/>
      <enumeration value="0833"/>
      <enumeration value="2027"/>
      <enumeration value="0137"/>
      <enumeration value="1933"/>
      <enumeration value="2028"/>
      <enumeration value="1432"/>
      <enumeration value="1532"/>
      <enumeration value="0534"/>
      <enumeration value="0138"/>
      <enumeration value="1644"/>
      <enumeration value="0628"/>
      <enumeration value="1743"/>
      <enumeration value="1834"/>
      <enumeration value="1242"/>
      <enumeration value="1135"/>
      <enumeration value="0436"/>
      <enumeration value="0235"/>
      <enumeration value="0834"/>
      <enumeration value="1141"/>
      <enumeration value="0631"/>
      <enumeration value="1534"/>
      <enumeration value="1936"/>
      <enumeration value="1648"/>
      <enumeration value="1433"/>
      <enumeration value="0236"/>
      <enumeration value="1243"/>
      <enumeration value="1744"/>
      <enumeration value="0536"/>
      <enumeration value="2030"/>
      <enumeration value="1835"/>
      <enumeration value="0437"/>
      <enumeration value="0438"/>
      <enumeration value="1244"/>
      <enumeration value="1438"/>
      <enumeration value="0237"/>
      <enumeration value="1748"/>
      <enumeration value="1938"/>
      <enumeration value="1653"/>
      <enumeration value="0538"/>
      <enumeration value="1142"/>
      <enumeration value="0632"/>
      <enumeration value="1836"/>
      <enumeration value="1535"/>
      <enumeration value="1749"/>
      <enumeration value="0439"/>
      <enumeration value="1144"/>
      <enumeration value="1837"/>
      <enumeration value="0238"/>
      <enumeration value="0633"/>
      <enumeration value="1539"/>
      <enumeration value="1657"/>
      <enumeration value="1939"/>
      <enumeration value="1245"/>
      <enumeration value="0540"/>
      <enumeration value="1439"/>
      <enumeration value="1145"/>
      <enumeration value="0541"/>
      <enumeration value="1246"/>
      <enumeration value="1940"/>
      <enumeration value="1838"/>
      <enumeration value="0239"/>
      <enumeration value="1662"/>
      <enumeration value="1543"/>
      <enumeration value="0441"/>
      <enumeration value="1441"/>
      <enumeration value="1750"/>
      <enumeration value="1247"/>
      <enumeration value="1839"/>
      <enumeration value="1443"/>
      <enumeration value="1663"/>
      <enumeration value="1545"/>
      <enumeration value="0542"/>
      <enumeration value="1751"/>
      <enumeration value="1941"/>
      <enumeration value="1146"/>
      <enumeration value="1444"/>
      <enumeration value="1149"/>
      <enumeration value="1755"/>
      <enumeration value="1942"/>
      <enumeration value="1840"/>
      <enumeration value="1546"/>
      <enumeration value="1664"/>
      <enumeration value="1251"/>
      <enumeration value="0543"/>
      <enumeration value="1547"/>
      <enumeration value="1841"/>
      <enumeration value="1445"/>
      <enumeration value="1943"/>
      <enumeration value="1252"/>
      <enumeration value="1665"/>
      <enumeration value="1151"/>
      <enumeration value="0544"/>
      <enumeration value="1548"/>
      <enumeration value="1253"/>
      <enumeration value="1842">
        <annotation>
          <documentation>Skjerstad</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1449"/>
      <enumeration value="0545"/>
      <enumeration value="1160"/>
      <enumeration value="1551"/>
      <enumeration value="1256"/>
      <enumeration value="1845"/>
      <enumeration value="1554"/>
      <enumeration value="1848"/>
      <enumeration value="1259"/>
      <enumeration value="1849"/>
      <enumeration value="1260"/>
      <enumeration value="1557"/>
      <enumeration value="1263"/>
      <enumeration value="1850"/>
      <enumeration value="1264"/>
      <enumeration value="1851"/>
      <enumeration value="1560"/>
      <enumeration value="1265"/>
      <enumeration value="1563"/>
      <enumeration value="1852"/>
      <enumeration value="1853"/>
      <enumeration value="1266"/>
      <enumeration value="1566"/>
      <enumeration value="1854"/>
      <enumeration value="1567"/>
      <enumeration value="1576"/>
      <enumeration value="1856"/>
      <enumeration value="1571"/>
      <enumeration value="1857"/>
      <enumeration value="1859"/>
      <enumeration value="1573"/>
      <enumeration value="1860"/>
      <enumeration value="1865"/>
      <enumeration value="1866"/>
      <enumeration value="1867">
        <annotation>
          <documentation>Bø i Nordland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1868"/>
      <enumeration value="1870"/>
      <enumeration value="1871"/>
      <enumeration value="1874"/>
    </restriction>
  </simpleType>
  <simpleType name="KommunenummerOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KontrastType">
    <union memberTypes="app:KontrastEnumerationType app:KontrastOtherType"/>
  </simpleType>
  <simpleType name="KontrastEnumerationType">
    <restriction base="string">
      <enumeration value="Ikke vurdert"/>
      <enumeration value="God"/>
      <enumeration value="Mindre god"/>
      <enumeration value="Dårlig"/>
    </restriction>
  </simpleType>
  <simpleType name="KontrastOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="LedelinjeType">
    <union memberTypes="app:LedelinjeEnumerationType app:LedelinjeOtherType"/>
  </simpleType>
  <simpleType name="LedelinjeEnumerationType">
    <restriction base="string">
      <enumeration value="Ingen"/>
      <enumeration value="Taktil"/>
      <enumeration value="Visuell"/>
      <enumeration value="Taktil og visuell"/>
    </restriction>
  </simpleType>
  <simpleType name="LedelinjeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesialFotrutetypeType">
    <union memberTypes="app:SpesialFotrutetypeEnumerationType app:SpesialFotrutetypeOtherType"/>
  </simpleType>
  <simpleType name="SpesialFotrutetypeEnumerationType">
    <restriction base="string">
      <enumeration value="Historisk ferdselsrute"/>
      <enumeration value="Ikke valgt"/>
      <enumeration value="Kultursti"/>
      <enumeration value="Kyststi"/>
      <enumeration value="Natursti"/>
      <enumeration value="Trimløype"/>
      <enumeration value="Annet"/>
    </restriction>
  </simpleType>
  <simpleType name="SpesialFotrutetypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TilgjengelighetsvurderingType">
    <annotation>
      <documentation>fast skala for vurdering av tilgjengelighet


-- Definition - - 
fixed scale for appraisal of accessibility</documentation>
    </annotation>
    <union memberTypes="app:TilgjengelighetsvurderingEnumerationType app:TilgjengelighetsvurderingOtherType"/>
  </simpleType>
  <simpleType name="TilgjengelighetsvurderingEnumerationType">
    <annotation>
      <documentation>fast skala for vurdering av tilgjengelighet


-- Definition - - 
fixed scale for appraisal of accessibility</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Tilgjengelig">
        <annotation>
          <documentation>oppfyller minstekrav til tilgjengelighet for personer med
funksjonsnedsettelse, der rullestol har vært en dimensjonerende
faktor

-- Definition -- 
fulfils minimum requirements to accessibility for persons with</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vanskelig tilgjengelig">
        <annotation>
          <documentation>oppfyller delvis minstekrav

-- Definition -- 
partially fulfils minimum requirements</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ikke tilgjengelig">
        <annotation>
          <documentation>Vurdert, funnet å ikke oppfylle minstekrav. Denne klassen er lagt til fordi en i visse sammenhenger, bl.a. i virkningsarbeid for bedre tilrettelegging kan ønske å fokusere på ulike typer bygg der forholdene er dårlige.

-- Definition -- 
Assessed and found not to fulfil minimum requirements. This class has been added because one in certain connections, such as in efforts for</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ikke vurdert"/>
    </restriction>
  </simpleType>
  <simpleType name="TilgjengelighetsvurderingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="UUFriluftBaderampe" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftBaderampeType"/>
  <complexType name="UUFriluftBaderampeType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="rampe" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en rampe.</documentation>
            </annotation>
          </element>
          <element name="rampeBredde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Minste bredde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="rampeStigning" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Stigningen oppgis i grader med 1 desimal.</documentation>
            </annotation>
          </element>
          <element name="håndlist" type="app:HåndlistplasseringType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element name="håndlistHøyde1" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den øverste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlistHøyde2" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den nederste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="rampeTerskel" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Terskelhøyde oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element name="rampeTilgjengelig" type="app:TilgjengelighetsvurderingType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingSyn" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftBaderampePropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftBaderampe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="UUFriluftFellesegenskaper" substitutionGroup="gml:AbstractFeature" type="app:UUFriluftFellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekt som bærer en rekke egenskaper som er objekttype-uavhengige og derfor benyttes for alle objekttyper

Merknad:
Spesielt i produktspesifikasjonsarbeid vil en velge egenskaper og av grensningslinjer fra denne klassen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="UUFriluftFellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="ogc_fid" type="integer">
            <annotation>
              <documentation>unik identifikator som blir fortløpende generert av databasen og forblir alltid med objekt.</documentation>
            </annotation>
          </element>
          <element name="opphav" type="string">
            <annotation>
              <documentation>referanse til opphavsmaterialet, kildematerialet, organisasjons/publiseringskilde

Merknad: 
Kan også beskrive navn på person og årsak til oppdatering</documentation>
            </annotation>
          </element>
          <element name="kommune" type="app:KommunenummerType">
            <annotation>
              <documentation>nummerering av kommuner i henhold til SSB sin offisielle liste

Merknad: Det presiseres at kommune alltid skal ha 4 siffer, dvs. eventuelt med ledende null. Kommune benyttes for kopling mot en rekke andre registre som også benytter 4 siffer.

-- Definition -- 
numbering of municipalities in accordance with Statistics Norway's official list. Note: It must be emphasised that the municipality number always consists of 4 digits, i.e. sometimes with leading zero. Municipality is used for establishing relations to a number of other registers which also use 4 digits.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bilde" type="string">
            <annotation>
              <documentation>Bilde av kartlagt objekt</documentation>
            </annotation>
          </element>
          <element name="registrert" type="dateTime">
            <annotation>
              <documentation>dato når data ble registrert/observert/målt første gang, som utgangspunkt for første digitalisering

Merknad:
registreringsdato blir generert av APPen når objektet blir digitalisert første gang. Ved overgang i databasen får objektet en unik ID (ogc_fid) som forblir uforanderlig hos objektet.

-- Definition -- 
date when data were registered/observed/measured for the first time, as a starting point for the first digitisation</documentation>
            </annotation>
          </element>
          <element name="oppdatert" type="dateTime">
            <annotation>
              <documentation>Dato for siste endring på objektetdataene fra app

Merknad: Hentes fra "oppdat_app" i basen</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kommentar" type="string">
            <annotation>
              <documentation>fritekst</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="forbedringsforslag" type="string">
            <annotation>
              <documentation>fritekst</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftFellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftFellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftFiskeplass" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftFiskeplassType"/>
  <complexType name="UUFriluftFiskeplassType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="flytebrygge" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en flytebrygge.</documentation>
            </annotation>
          </element>
          <element name="rampe" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en rampe.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeBredde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Minste bredde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeStigning" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Stigningen oppgis i grader med 1 desimal.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlist" type="app:HåndlistplasseringType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlistHøyde1" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den øverste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlistHøyde2" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den nederste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeTerskel" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Terskelhøyde oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeTilgjengelig" type="app:TilgjengelighetsvurderingType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element name="dekke" type="app:DekkeType"/>
          <element minOccurs="0" name="plankeavstand" type="double">
            <annotation>
              <documentation>Plankeavstand oppgis i cm med en desimal. Avstanden mellom planker skal ikke være mer enn 10mm.</documentation>
            </annotation>
          </element>
          <element name="dekkeTilstand" type="app:DekketilstandType"/>
          <element name="diameter" type="integer">
            <annotation>
              <documentation>Diameter = Hinderfri snusirkel. Oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="rekkverk" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes et rekkverk</documentation>
            </annotation>
          </element>
          <element name="stoppkant" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en stoppkant</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stoppkantHøyde" type="double">
            <annotation>
              <documentation>Stoppkanthøyde oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingElRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingSyn" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftFiskeplassPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftFiskeplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftFriluftsområde" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftFriluftsområdeType"/>
  <complexType name="UUFriluftFriluftsområdeType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:SurfacePropertyType"/>
          <element name="navn" type="string"/>
          <element minOccurs="0" name="naturbaseNr" type="integer"/>
          <element name="parkeringsområde" type="app:JaNeiType"/>
          <element name="hcParkeringsplass" type="app:JaNeiType"/>
          <element name="toalett" type="app:JaNeiType"/>
          <element name="turvei" type="app:JaNeiType"/>
          <element name="baderampe" type="app:JaNeiType"/>
          <element name="fiskeplass" type="app:JaNeiType"/>
          <element name="grillBålplass" type="app:JaNeiType"/>
          <element name="sittegruppe" type="app:JaNeiType"/>
          <element name="gapahuk" type="app:JaNeiType"/>
          <element name="informasjon" type="app:JaNeiType"/>
          <element name="annen" type="app:JaNeiType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftFriluftsområdePropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftFriluftsområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftGapahuk" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftGapahukType"/>
  <complexType name="UUFriluftGapahukType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="rampe" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en rampe.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeBredde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Minste bredde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeStigning" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Stigningen oppgis i grader med 1 desimal.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlist" type="app:HåndlistplasseringType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlistHøyde1" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den øverste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlistHøyde2" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den nederste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeTerskel" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Terskelhøyde oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeTilgjengelig" type="app:TilgjengelighetsvurderingType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element name="breddeInngang" type="integer">
            <annotation>
              <documentation>Minste bredde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="høydeInngang" type="integer">
            <annotation>
              <documentation>Minste høyde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="terskelhøyde" type="double">
            <annotation>
              <documentation>Terskelhøyden oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element name="kontrastInngang" type="app:KontrastType"/>
          <element name="diameter" type="integer">
            <annotation>
              <documentation>Snusirkel diameter. Oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="dekke" type="app:DekkeType"/>
          <element name="dekkeTilstand" type="app:DekketilstandType"/>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingElRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingSyn" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftGapahukPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftGapahuk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftGrillBålplass" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftGrillBålplassType"/>
  <complexType name="UUFriluftGrillBålplassType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="dekke" type="app:DekkeType"/>
          <element name="dekketilstand" type="app:DekketilstandType"/>
          <element name="helning" type="double"/>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftGrillBålplassPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftGrillBålplass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftHCparkering" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftHCparkeringType"/>
  <complexType name="UUFriluftHCparkeringType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="skiltet" type="app:JaNeiType">
            <annotation>
              <documentation>Angir om HC-parkeringsplassen er skiltet.</documentation>
            </annotation>
          </element>
          <element name="merket" type="app:JaNeiType">
            <annotation>
              <documentation>Angir om HC-parkeringsplassen er merket.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="bredde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis merket er "Ja". Minste bredde oppgis i cm uten desimaltall.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis merket er "Ja". Minste lengde oppgis i cm uten desimaltall.</documentation>
            </annotation>
          </element>
          <element name="avstandFasilitet" type="integer">
            <annotation>
              <documentation>Avstand til nærmeste fasilitet oppgis i m uten desimaltall.</documentation>
            </annotation>
          </element>
          <element name="avgift" type="app:JaNeiType">
            <annotation>
              <documentation>Angir om HC-parkering er avgiftspliktig.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="automatHøyde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis avgift er "Ja". Høyden måles til den øverste knappen eller myntinnkastet og oppgis i cm uten desimaltall.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilgjengeligAutomat" type="app:JaNeiType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis avgift er "Ja".</documentation>
            </annotation>
          </element>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingElRullestol" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftHCparkeringPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftHCparkering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftHytterTilrettelagt" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftHytterTilrettelagtType"/>
  <complexType name="UUFriluftHytterTilrettelagtType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="navn" type="string"/>
          <element minOccurs="0" name="eier" type="string"/>
          <element name="lenke" type="string"/>
          <element name="tilrettelagt" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftHytterTilrettelagtPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftHytterTilrettelagt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftParkeringsområde" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftParkeringsområdeType"/>
  <complexType name="UUFriluftParkeringsområdeType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:SurfacePropertyType"/>
          <element name="kapasitetPersonbiler" type="integer"/>
          <element name="kapasitetUU" type="integer"/>
          <element name="årstidsbruk" type="app:ÅrstidsbrukType"/>
          <element name="dekke" type="app:DekkeType"/>
          <element name="dekkeTilstand" type="app:DekketilstandType"/>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingElRullestol" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftParkeringsområdePropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftParkeringsområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftSittegruppe" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftSittegruppeType"/>
  <complexType name="UUFriluftSittegruppeType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="dekke" type="app:DekkeType"/>
          <element name="dekketilstand" type="app:DekketilstandType"/>
          <element name="helning" type="double"/>
          <element minOccurs="0" name="høydeBord" type="integer">
            <annotation>
              <documentation>Må besvares dersom det finnes bord.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="utstikkBord" type="integer">
            <annotation>
              <documentation>Må besvares dersom det finnes bord.</documentation>
            </annotation>
          </element>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftSittegruppePropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftSittegruppe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftStatligSikraFriluftsområder" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftStatligSikraFriluftsområderType"/>
  <complexType name="UUFriluftStatligSikraFriluftsområderType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:SurfacePropertyType"/>
          <element name="navn" type="string"/>
          <element minOccurs="0" name="naturbaseNr" type="string"/>
          <element name="linkBilde" type="string"/>
          <element name="linkSkjema" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftStatligSikraFriluftsområderPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftStatligSikraFriluftsområder"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftToalett" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftToalettType"/>
  <complexType name="UUFriluftToalettType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType"/>
          <element name="byggtype" type="app:ByggtypeType">
            <annotation>
              <documentation>Bygningens hovedfunksjon</documentation>
            </annotation>
          </element>
          <element name="rampe" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en rampe.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeBredde" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Minste bredde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeStigning" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Stigningen oppgis i grader med 1 desimal.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlist" type="app:HåndlistplasseringType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element name="håndlistHøyde1" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den øverste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="håndlistHøyde2" type="integer">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja" og håndlist finnes. Høyden på den nederste håndlistens øverste kant oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeTerskel" type="double">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja". Terskelhøyde oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rampeTilgjengelig" type="app:TilgjengelighetsvurderingType">
            <annotation>
              <documentation>Avhengig verdi - må kun fylles ut hvis rampe er "Ja".</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="avstandHC" type="integer">
            <annotation>
              <documentation>Avstand til nærmeste HC-parkeringsplass oppgis i meter uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="dørtype" type="app:DørtypeType"/>
          <element name="døråpner" type="app:DøråpnerType"/>
          <element minOccurs="0" name="manøverknappHøyde" type="integer">
            <annotation>
              <documentation>Høyden oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="breddeInngang" type="integer">
            <annotation>
              <documentation>Minste bredde oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kontrastInngang" type="app:KontrastType"/>
          <element name="terskelhøyde" type="double">
            <annotation>
              <documentation>Terskelhøyden oppgis i cm med 1 desimal.</documentation>
            </annotation>
          </element>
          <element name="diameter" type="integer">
            <annotation>
              <documentation>Snusirkel diameter. Oppgis i cm uten desimaler.</documentation>
            </annotation>
          </element>
          <element name="belysning" type="app:JaNeiType">
            <annotation>
              <documentation>Kryss av om det finnes en rampe.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="omkledningTilgjengelig" type="app:TilgjengelighetsvurderingType"/>
          <element minOccurs="0" name="servantTilgjengelig" type="app:TilgjengelighetsvurderingType"/>
          <element minOccurs="0" name="wcTilgjengelig" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingElRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingSyn" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftToalettPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftToalett"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UUFriluftTurvei" substitutionGroup="app:UUFriluftFellesegenskaper" type="app:UUFriluftTurveiType"/>
  <complexType name="UUFriluftTurveiType">
    <complexContent>
      <extension base="app:UUFriluftFellesegenskaperType">
        <sequence>
          <element name="posisjon" type="gml:CurvePropertyType"/>
          <element name="veitype" type="app:VeitypeType"/>
          <element minOccurs="0" name="spesialFotrutetype" type="app:SpesialFotrutetypeType">
            <annotation>
              <documentation>Typer er definert ut fra spesiell tilrettelegging, spesielle bruksformål eller historisk opprinnelse.</documentation>
            </annotation>
          </element>
          <element name="årstidsbruk" type="app:ÅrstidsbrukType"/>
          <element name="sperrebom" type="app:JaNeiType"/>
          <element name="sperrebomTilgjengelig" type="app:JaNeiType">
            <annotation>
              <documentation>avhengig verdi - må kun fylles ut dersom sperrebom er "Ja"</documentation>
            </annotation>
          </element>
          <element name="dekke" type="app:DekkeType"/>
          <element name="dekkeTilstand" type="app:DekketilstandType"/>
          <element name="møteHvileplass" type="app:JaNeiType"/>
          <element minOccurs="0" name="antallTilstrekkelig" type="app:JaNeiType">
            <annotation>
              <documentation>avhengig verdi - må kun fylles ut hvis møte-/hvileplass er "Ja"</documentation>
            </annotation>
          </element>
          <element name="belysning" type="app:BelysningType"/>
          <element name="bredde" type="integer">
            <annotation>
              <documentation>Minste bredde oppgis i cm uten desimaler</documentation>
            </annotation>
          </element>
          <element name="stigning" type="double">
            <annotation>
              <documentation>Stigning/fall i kursretningen oppgis i grader med en desimal</documentation>
            </annotation>
          </element>
          <element name="tverrfall" type="double">
            <annotation>
              <documentation>Stigning/fall på tvers av kursretningen oppgis i  grader med en desimal</documentation>
            </annotation>
          </element>
          <element name="friHøyde" type="app:FrihøydeType"/>
          <element name="ledelinje" type="app:LedelinjeType"/>
          <element minOccurs="0" name="ledelinjeKontrast" type="app:KontrastType">
            <annotation>
              <documentation>avhengig verdi - må kun fylles ut hvis ledelinje er "Ja"</documentation>
            </annotation>
          </element>
          <element name="tilgjengvurderingRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingElRullestol" type="app:TilgjengelighetsvurderingType"/>
          <element name="tilgjengvurderingSyn" type="app:TilgjengelighetsvurderingType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UUFriluftTurveiPropertyType">
    <sequence minOccurs="0">
      <element ref="app:UUFriluftTurvei"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VeitypeType">
    <union memberTypes="app:VeitypeEnumerationType app:VeitypeOtherType"/>
  </simpleType>
  <simpleType name="VeitypeEnumerationType">
    <restriction base="string">
      <enumeration value="Asfaltert vei"/>
      <enumeration value="Gang/sykkelsti"/>
      <enumeration value="Grusvei">
        <annotation>
          <documentation>Grusveier er veier med fast underlag, mest drenert, god bredde og godt utbygd.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Sti">
        <annotation>
          <documentation>smale veier med naturlig underlag og mest ikke drenert. Stier vil i kraft av sin natur ikke kunne tilrettelegges slik at de tilfredsstiller krav til universell utforming.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Traktorvei"/>
      <enumeration value="Skiløype"/>
      <enumeration value="Gangbane"/>
    </restriction>
  </simpleType>
  <simpleType name="VeitypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="ÅrstidsbrukType">
    <union memberTypes="app:ÅrstidsbrukEnumerationType app:ÅrstidsbrukOtherType"/>
  </simpleType>
  <simpleType name="ÅrstidsbrukEnumerationType">
    <restriction base="string">
      <enumeration value="Helårsbruk"/>
      <enumeration value="Sommerbruk"/>
      <enumeration value="Vinterbruk"/>
      <enumeration value="Ikke valgt"/>
    </restriction>
  </simpleType>
  <simpleType name="ÅrstidsbrukOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
