TurOgFriluftsruter/TurOgFriluftsruter_postgis2gml/TurOgFriluftsruter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1215 ( Build: 1215 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/SOSI/produktspesifikasjon/TurOgFriluftsruter/2.5.1" xmlns:app="http://skjema.geonorge.no/SOSI/produktspesifikasjon/TurOgFriluftsruter/2.5.1" version="2.5.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/xer">
	<xs:import namespace="http://www.opengis.net/gml/3.3/xer" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:element name="Fellesegenskaper" type="app:FellesegenskaperType" substitutionGroup="gml:AbstractFeature" abstract="true">
		<xs:annotation>
			<xs:documentation>Definisjon:
Abstrakt objekttype som bærer en rekke egenskaper som er fagområdeuavhengige og kan benyttes for alle objekttyper

Merknad: 
Alle objekttyper i denne produktspesifikasjonen vil arve egenskaper fra denne objekttypen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FellesegenskaperType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="opphav" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Referanse til opphavsmaterialet, kildematerialet, organisasjons-/publiseringskilde. Hvem som har utført kartleggingen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="oppdateringsdato" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dato for siste endring på objektdataene, kan være geometri og/eller egenskapsendring.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="link" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Refererer til informasjonselement enten lokalt eller globalt. Link kan være til dokumenter, bilder, video osv. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="app:Link"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="kvalitet">
						<xs:annotation>
							<xs:documentation>Beskrivelse av kvaliteten på stedfestingen. Gruppeegenskap, som minimum skal bestå av målemetode og nøyaktighet i grunnriss. Egenskapen kompaktifiseres. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="app:Posisjonskvalitet"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="kommune" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nummerering av kommuner i henhold til SSB sin offisielle liste. Merknad: kommune skal alltid ha 4 siffer, dvs. eventuelt med ledende null. </xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Kommunenummer</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="informasjon" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Generell opplysning. Mulighet for å legge inn utfyllende informasjon om objektet. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifikasjon" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unik identifikasjon av objektene innen et datasett. Må ikke forveksles med global unik identifikasjon. Det finnes ikke støtte for håndtering av id som annet enn en vanlig tekstegenskap i SOSI. Egenskapen vil bli påkrevd når forvaltningssystemet støtter håndtering av ID fullt ut. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="app:Identifikasjon"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="datafangstdato" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Dato for måling/registrering/observert i terrenget. Eventuelt flyfotodato eller digitaliseringsdato.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FellesegenskaperPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:Fellesegenskaper"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RuteGenerell" type="app:RuteGenerellType" substitutionGroup="app:Fellesegenskaper" abstract="true">
		<xs:annotation>
			<xs:documentation>Definisjon:
Rute for ferdsel generelt

Merknad: 
Alle kurveobjekter i denne produktspesifikasjonen vil arve egenskaper fra denne objekttypen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RuteGenerellType" abstract="true">
		<xs:complexContent>
			<xs:extension base="app:FellesegenskaperType">
				<xs:sequence>
					<xs:element name="senterlinje">
						<xs:annotation>
							<xs:documentation>Forløp som følger objektets sentrale del.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="Kurve"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="rutenummer" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifikasjonsnummer eller betegnelse på friluftsrute.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="navn" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Navnet på rutea. Hvis ruta har et navn, skal dette registreres. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RuteGenerellPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:RuteGenerell"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="TurOgFriluftsrute" type="app:TurOgFriluftsruteType" substitutionGroup="app:RuteGenerell" abstract="true">
		<xs:annotation>
			<xs:documentation>Definisjon:
Generelt overordnet ruteobjekt for tur- og friluftsruter

Merknad: 
Alle kurveobjekter i denne produktspesifikasjonen vil arve egenskaper fra denne objekttypen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TurOgFriluftsruteType" abstract="true">
		<xs:complexContent>
			<xs:extension base="app:RuteGenerellType">
				<xs:sequence>
					<xs:element name="vedlikeholdsansvarlig" type="xs:string">
						<xs:annotation>
							<xs:documentation>Organisasjon/lag/forening, kommune, friluftsråd, reiselivsaktør eller andre som har ansvar for vedlikehold og/eller fremkommelighet av rute.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="underlagstype" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type underlag som ruten eller løypen følger - om rutestrekningen har asfalt/betongdekke, går på grus eller på naturlig grunn.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Underlagstype</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="tilgjengelighetsGruppe" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Angir hvilke grupper av funksjonshemmede området er tilrettelagt for.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Tilgjengelighetsgruppe</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="stigning" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Samlet stigning i prosent. Denne egenskapen kan legges inn hvis en ikke har mulighet til å beregne stigning automatisk ut fra kartobjektet.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skilting" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Om ruten er skiltet eller ikke (må skilles fra merking - skiltes ofte i viktige kryss og start-/sluttpunkt).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ruteVanskelighetsgrad" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Angivelse av hvor krevende en rute er, basert på forholdsvis objektive kriterier som underlag, tekniske utfordringer, høydemeter og stigningsgrad/eksponering. For mer informasjon, se kapitlet om Gradering i Merkehåndboka (http://www.turistforeningen.no/merkehandboka/).</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>RuteVanskelighetsgrad</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="rutetype" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Angivelse av type rute.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Rutetype</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ruteFølger" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hoveddelen av type trase som rute eller løype følger.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>RuteFølger</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="rutebredde" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Minste sti-, sykkelsti- eller skiløypebredde på rutestrekningen.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Rutebredde</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="rutebetydning" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Klassifisering av ulike tur- og friluftsruter etter hvor brukerne i hovedsak kommer fra.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Rutebetydning</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="opparbeiding" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Grov gruppering av ulike opparbeidingstiltak på bakken/grunnen knyttet til turstier, skiløyper mv.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Opparbeiding</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="merking" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Forteller om det er merking langs en sti, løype, veg, sykkelveg mv. Med merking menes markering for å vise vei.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>RuteMerking</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="lengde" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rutens lengde i meter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="friluftEierforhold" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Angir hvilken instans som er eier av tilretteleggingstiltaket.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>FriluftEierforhold</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="belysning " type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Om det er permanent belysning langs ruta.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Belysning</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TurOgFriluftsrutePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:TurOgFriluftsrute"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Fotrute" type="app:FotruteType" substitutionGroup="app:TurOgFriluftsrute">
		<xs:annotation>
			<xs:documentation>Definisjon:
Rute for menneskelig ferdsel til fots

Merknad: 
Ruter kan ha mange utforminger og gå på ulike fysiske underlag. Fotruter kan gå i fjellområder, i skog, i kulturlandskap, langs kysten eller som spaserruter i by- og boligstrøk. Inkluderer turveger, turstier og spesialruter som for eksempel natursti og kultursti. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FotruteType">
		<xs:complexContent>
			<xs:extension base="app:TurOgFriluftsruteType">
				<xs:sequence>
					<xs:element name="spesialFotrutetype" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Typer er definert ut fra spesiell tilrettelegging, spesielle bruksformål eller historisk opprinnelse.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SpesialFotrutetype</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sesong" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vår-, sommer-, høst- eller vintertur.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Sesong</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FotrutePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:Fotrute"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Skiløype" type="app:SkiløypeType" substitutionGroup="app:TurOgFriluftsrute">
		<xs:annotation>
			<xs:documentation>Definisjon: 
Rute for ikke-motorisert ferdsel på snø

Merknad:
Fortrinnsvis på ski, men også andre former slik som hundekjøring. Inkluderer ikke alpinanlegg.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SkiløypeType">
		<xs:complexContent>
			<xs:extension base="app:TurOgFriluftsruteType">
				<xs:sequence>
					<xs:element name="spesialSkiløypetype" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Spesielle skiløyper definert ut fra observert bruk eller merking, anbefaling eller tilrettelegging for bruk.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SpesialSkiløypetype</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="skøytetrase" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Om løypen er tilrettelagt for skøyting eller ikke. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ryddebredde" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bredde på trase ryddet for løype i skog. Brukes for skiløyper.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Ryddebredde</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="preparering" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Angivelse av hvordan løypestrekningen er preparert.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Løypepreparering</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="antallSkispor" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Antall oppkjørte skispor for klassisk på løypestrekningen. Angis med tall. Er traseen kun tilrettelagt for skøyting, registreres det med verdien 0 for antallSkispor. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SkiløypePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:Skiløype"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Sykkelrute" type="app:SykkelruteType" substitutionGroup="app:TurOgFriluftsrute">
		<xs:annotation>
			<xs:documentation>Definisjon:
Rute for ikke-motorisert ferdsel på sykkel

Merknad:
Sykkelrute kan følge kjørevei, gang/sykkelvei, traktorvei, sti etc</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SykkelruteType">
		<xs:complexContent>
			<xs:extension base="app:TurOgFriluftsruteType">
				<xs:sequence>
					<xs:element name="trafikkbelastning" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Grov kategorisering av trafikkbelastning på en strekning.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>Trafikkbelastning</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="spesialSykkelrutetype" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Spesielle former for sykkelruter.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SpesialSykkelrutetype</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SykkelrutePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:Sykkelrute"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="AnnenRute" type="app:AnnenRuteType" substitutionGroup="app:TurOgFriluftsrute">
		<xs:annotation>
			<xs:documentation>Definisjon:
Rute for annen ferdsel, hovedsakelig knyttet til friluftsliv

Merknad:
Annen rute kan være riderute, trugerute, padlerute osv.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AnnenRuteType">
		<xs:complexContent>
			<xs:extension base="app:TurOgFriluftsruteType">
				<xs:sequence>
					<xs:element name="annenRutetype" type="xs:string">
						<xs:annotation>
							<xs:documentation>Type rute definert ut fra observert bruk, merking, anbefaling eller tilrettelegging for bruk. Det anbefales bruk av konsistente navn. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnnenRutePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:AnnenRute"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="FriluftslivTilrettelegging" type="app:FriluftslivTilretteleggingType" substitutionGroup="app:Fellesegenskaper">
		<xs:annotation>
			<xs:documentation>Definisjon:
Fysiske tiltak som gjennomføres i friluftsområder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FriluftslivTilretteleggingType">
		<xs:complexContent>
			<xs:extension base="app:FellesegenskaperType">
				<xs:sequence>
					<xs:element name="vedlikeholdsansvarlig" type="xs:string">
						<xs:annotation>
							<xs:documentation>Organisasjon/lag/forening, kommune, friluftsråd, reiselivsaktør eller andre som har ansvar for vedlikehold og/eller fremkommelighet av objekt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tilrettelegging" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>Angir tilretteleggingstiltak i friluftslivområdet.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TilretteleggingInformasjon</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="posisjon">
						<xs:annotation>
							<xs:documentation>Sted som objektet eksisterer på.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="Punkt"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FriluftslivTilretteleggingPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="app:FriluftslivTilrettelegging"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Identifikasjon" type="app:IdentifikasjonType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>Unik identifikasjon av objektene innen et datasett. Må ikke forveksles med global unik identifikasjon. Det finnes ikke støtte for håndtering av id som annet enn en vanlig tekstegenskap i SOSI. Egenskapen vil bli påkrevd når forvaltningssystemet støtter håndtering av ID fullt ut.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="IdentifikasjonType">
		<xs:sequence>
			<xs:element name="lokalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lokal identifikator, tildelt av dataleverandør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator. Må ikke forveksles med global unik identifikasjon. Det er dataleverandørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifikasjonPropertyType">
		<xs:sequence>
			<xs:element ref="app:Identifikasjon"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Link" type="app:LinkType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>Refererer til et informasjonselement, enten lokalt eller globalt. Link kan være til dokumenter, bilder, video osv. 

Eksempel:
Lokal : //skrisrv2/tjenester/sosiforv/web/welcome.htm
Global: http://faktaark.naturbase.no/naturtype?id=BN00080408&amp;srid=32633</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LinkType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="LinkPropertyType">
		<xs:sequence>
			<xs:element ref="app:Link"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Posisjonskvalitet" type="app:PosisjonskvalitetType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>Beskrivelse av kvaliteten på stedfestingen. Gruppeegenskap, som minimum skal bestå av målemetode og nøyaktighet i grunnriss. Egenskapen kompaktifiseres.

Merknad: Kvalitet er en påkrevd egenskap.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PosisjonskvalitetType">
		<xs:sequence>
			<xs:element name="synbarhet" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hvor godt den kartlagte detalj var synbar ved kartleggingen.</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>Synbarhet</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nøyaktighetHøyde" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Posisjonsnøyaktighet for høydemålingen i cm. Med posisjonsnøyaktighet menes høydestandardavviket for punkter, samt tverravvik i høyde for kurver. Den nøyaktighet som angis på objektet, bør være så nær dataobjektets nøyaktighet i forhold til det virkelige objektet som mulig. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nøyaktighet" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Antatt poisisjonsnøyaktighet i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss, oppgitt i cm. Med posisjonsnøyaktighet menes punktstandardavviket og høydestandardavviket for punkter, samt tverravvik i grunnriss og høyde for kurver. Den nøyaktighet som angis på objektet, bør være så nær dataobjektets nøyaktighet i forhold til det virkelige objektet som mulig. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="målemetodeHøyde" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Metode for å måle objekttypens høydeverdi.</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>MålemetodeHøyde</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="målemetode" type="gml:ReferenceType">
				<xs:annotation>
					<xs:documentation>Metode for måling av posisjon i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss.</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>Målemetode</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PosisjonskvalitetPropertyType">
		<xs:sequence>
			<xs:element ref="app:Posisjonskvalitet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
